@{
    ViewBag.Title = "Home Page";
}
<div id="" class="headerName">
    <h2>
        <input type="text" id="result" disabled />
        <br />
        <input id="btnPlay" type="button" value="Start Game" />
        <input id="btnStart" type="button" value="Start Game" hidden /></h2>
</div>
@*<input id="interval" /><input type="button" id="setInterval" value="Set Interval"/>*@
<div id="content">

</div>
